div {
    width: 500px;
    height: 500px;
    margin: auto;
    border: none;
    background-color: #00F;
}

tr {
    height: 50px;
    width: 50px;
    padding: 30px;
}

.tile {
    height: 50px;
    width: 50px;
    padding-left: 30px;
    background-color: #CCC;
    color: black;
}