@page "/"
@using TicTacToeWeb.Data;
@model TicTacTowWeb.Pages.TicTacToeModel
@{
    ViewData["Title"] = "Tic-Tac-Toe";

    <head>
        <link rel="stylesheet" href="main.css">
    </head>

    <h1>It is @{
            Model._service.GetPlayerTurn();
        }s turn</h1>

    <body>
        <div id="TicTacToe_Board">
            <table>
                @for (int i = 0; i < 3; i++)
                {
                    <tr>
                        @for (int j = 0; j < 3; j++)
                        {
                            <td class="tile">
                                @if (Model._service.GetBoardTile(i, j) == ' ')
                                {
                                    <button id="TicTacToeButton" onclick="@{
                                                Model._service.TileClicked(i,j);
                                                            }"></button>
                                }
                                else
                                {
                                    <p class="tile">@Model._service.GetBoardTile(i, j);</p>
                                }
                            </td>
                        }
                    </tr>
                }
            </table>
        </div>
        <script src="/_framework/aspnetcore-browser-refresh.js"></script>
    </body>
}