@page "/"
@using TicTacToeWeb.Data;
@model TicTacTowWeb.Pages.TicTacToeModel
@{
    ViewData["Title"] = "Tic-Tac-Toe";

    <head>

    </head>

    <body>
        <h1>It is @{ Model._service.GetPlayerTurn(); }s turn</h1>

        <table class="TicTacToe_Board">
            @for (int i = 0; i < 3; i++)
            {
                <tr>
                    @for (int j = 0; j < 3; j++)
                    {
                        <td id="tile">                           
                            @if (Model._service.GetBoardTile(i, j) == ' ')
                            {
                                <button onclick="@{ Model._service.TileClicked(i,j); }"></button>
                            }
                            else
                            {
                                <p>@Model._service.GetBoardTile(i, j);</p>
                            }
                        </td>
                    }
                </tr>
            }
        </table>

        <script src="/_framework/aspnetcore-browser-refresh.js"></script>
    </body>
}